body{
    direction: ltr
}

.container{
    width : 470px;
    margin: 50px;
    background-color: blue;
    padding: 10px
    
}

.container div{
    width : 400px;
    height: 50px;
    display: flex;
    color: blue;
    margin: 20px;
    background-color: cyan;
    padding: 10px;
    flex-direction: column
    
}



